# Python libraries
zipp==3.23.0
pdfkit==1.0.0
Pillow==12.1.0
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0
requests==2.32.5
pytz==2025.2
python-dotenv==1.2.1
python-json-logger==4.0.0
Unidecode==1.4.0
redis==7.1.1
pandas==3.0.0
gunicorn==25.0.3

# Django libraries
Django==5.2.11
django-sslserver==0.22
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
django-filter==25.2
django-safedelete==1.4.1
django-q2==1.9.0
django-simple-history @ git+https://github.com/ludensproductions/django-simple-history@7032557eb23e2c5385e3f4d9ec82dff486c0be5d
whitenoise==6.11.0

# Django Ninja
django-ninja==1.4.1
django-ninja-extra==0.30.0
django-ninja-jwt==5.3.2

# Django REST framework
djangorestframework==3.16.1
