# Python libraries
zipp==3.7.0
pdfkit==1.0.0
Pillow==10.1.0 
psycopg==3.1.16 
requests==2.31.0
pytz==2023.3.post1
python-dotenv==1.0.0
python-json-logger==2.0.7
Unidecode==1.3.4
redis==5.0.1
pandas==2.1.4
gunicorn==21.2.0
uvicorn==0.30.6

# Django libraries
Django==4.2.16
django-sslserver==0.22
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
django-filter==23.4
django-safedelete==1.3.3
django-q2==1.6.1
django-simple-history @ git+https://github.com/ludensproductions/django-simple-history@c42ec0183d3994099e56b1c8d85413f65b105e1e

# Django Ninja
django-ninja==1.2.2
django-ninja-extra==0.21.3
django-ninja-jwt==5.3.2
